<ion-grid [fixed]="true">
  <!-- Logo -->
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <img class="logo" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <!-- Title -->
  <ion-row class="ion-justify-content-center">
    <h1>EasyMedia</h1>
  </ion-row>

  <!-- Iniciar/Crear -->
  <ion-row class="ion-justify-content-center">
    <router-outlet></router-outlet>
  </ion-row>

</ion-grid>



