ion-grid{
  height: 100%;
}
ion-row{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


ion-spinner{
  height: 100%;
  z-index: 9999;
  padding-left: auto;
  padding-right: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
